:root {
  /* Font weigth */
  --regular: 400;
  --bold: 700;
  --bolder: 800;
  /* Primary colors */
  --soft-orange: hsl(35,77%,62%);
  --soft-red: hsl(5, 85%, 63%);
  /* Neutral colors */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'sans-serif';
  font-size: calc(15rem / 16);
  margin: 0 4%;
}

.header {
  min-height: 90px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

p {
  color: var(--dark-grayish-blue);
  font-weight: var(--regular);
  line-height: calc(25rem / 16);
}

.header__logo {
  width: 55px;
}

.navbar__content{
  display: inline-block;
  text-decoration: none;
}

.main-image {
  width: 100%;
}

.intro {
  margin: 25px 0;
}

.intro__title {
  font-weight: var(--bolder);
  font-size: calc(42rem / 16);
  line-height: calc(43rem / 16);
}

.intro__description {
  padding: 1.3em 0;
}

.intro__button {
  padding: 15px 30px;
  border: 0;
  background-color: var(--soft-red);
  color: var(--off-white);
  font-weight: var(--bold);
  letter-spacing: calc(5rem / 16);
}

.new-section {
  width: 345px;
  margin: 45px 0;
  padding: 20px 18px 0;
  background-color: var(--very-dark-blue);
}

.new-section__title {
  /* padding-bottom: 25px; */
  font-size: calc(30rem / 16);
  color: var(--soft-orange);
}

.new-section__article-heading {
  padding-top: 25px;
  letter-spacing: calc(1rem / 16);
  color: var(--off-white);
}

.new-section__article-description {
  padding-top: 10px;
  padding-bottom: 25px;
  color: var(--grayish-blue);
  letter-spacing: calc(0.5rem / 16);
}

.new-section__article:nth-child(n+3)::before{
  content: '';
  display: block;
  width: 100%;
  border-top: 1px solid var(--dark-grayish-blue);
}